/*

layout

*/

.white, .box-all-inputs, .container, .column, .icons, .arrow, .plan-main, .plan-details, .agreement-checkbox {
  border: 1px solid transparent;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
}

.layout-2-col .column {
  width: 50%;
}

.layout-3-col .column {
  width: 33.33%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.row::after,
.row::before,
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

span[class="site-logo"] {
  color: rgb(0, 153, 153);
  font-weight: 800;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

/*underlines*/
.shadow {
  margin-left: 15px;
  width: 250px;
  box-shadow: 0 10px 0 rgb(0, 153, 153);
}

.shadow2 {
  margin-left: 15px;
  width: 335px;
  box-shadow: 0 10px 0 rgb(0, 153, 153);
}

/*

header

*/

.site-header {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.text-logo {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 0 15px 100px;
}

ul li {
  display: inline-block;
  padding: 0 30px;
  float: right;
  font-weight: 600;
  letter-spacing: 1px;
}

li:hover {
  cursor: pointer;
  color: rgb(0, 153, 153);
}

li:first-child {
  padding-right: 100px;
}

/*

dropdown-menu

*/

.dropdown-content-about {
  position: absolute;
  background-color: black;
  min-width: 100px;
  padding: 0 15px;
  z-index: 1;
  color: white;
  text-transform: none;
  font-weight: 400;
  margin-top: 25px;
  transition: 1s all 0.05s;
}

.triangle {
  position: absolute;
  top: -10px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent black transparent;
  transition: 1s all 0.01s;
}

.dropdown-menu-about:not(:hover) .dropdown-content-about, .dropdown-menu-about:not(:hover) .triangle {
  visibility: hidden;
  background-color: transparent;
  border-color: transparent;
  transition-delay: 0s;
}

.dropdown-content-about > p:hover {
  color: rgb(0, 153, 153);
}

/*

hero-section

*/

.site-hero {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  margin-top: 50px;
}

.arrow:hover {
  color: #555;
  transition: 0.5s;
}

.arrow {
  position: absolute;
  font-size: 100px;
  font-weight: 300;
  cursor: pointer;
  height: 500px;
  padding-top: 160px;
  color: rgb(0, 153, 153);
  margin-left: 40px
}

.right-arrow {
  position: absolute;
  z-index: 1;
  margin-left: 507px;
}

.big-chair {
  height: 500px;
  width: 650px;
  padding-left: 20px;
}

.title-span, .title-paragraph {
  display: inline-block;
  padding-top: 50px;
  /*padding-right: 20px;*/
}

.title-span {
  color: rgb(0, 153, 153);
}

h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-right: 50px;
}

.title-paragraph {
  color: #222;
  opacity: 0.7;
  line-height: 25px;
  text-align: center;
  padding: 0 75px;
  margin-right: 50px;
}

.see-more-box {
  background-color: rgb(0, 153, 153);
  text-transform: uppercase;
  padding: 15px 15px;
  width: 200px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 185px;
  border-radius: 6%;
}

/*

chair-section

*/

.chair-show {
  margin: 25px 33px;
  width: 329px;
  height: 225px;
  /*background-size: cover;*/
}

.box {
  border: 1px solid #D3D3D3;
}

.box-1 {
  background-image: url("../images/box1_img.jpg");
}

.box-2 {
  background-image: url("../images/box2_img.jpg");
}

.white {
  background-color: rgba(255, 255, 255, 0.5);
  height: 65px;
  margin-top: 140px;
}

h2 {
  margin: 15px 5px;
}

.box-all-inputs {
  height: 275px;
  border: 1px solid #D3D3D3;
}

.input-section {
  padding: 2px 16px;
  line-height: 150%;
}

/*

price-list

*/

.price-list-section {
  background-color: #f4f4f4;
}

.price-list {
  background-color: #f4f4f4;
  padding: 0 50px;
}

h3 {
  font-size: 21px;
  font-weight: 500;
  color: #262525;
  text-transform: uppercase;
}

.plan {
  margin: 55px 30px;
  height: 435px;
  width: 335px;
  border: 1px solid #D3D3D3;
  position: relative;
  background-color: rgb(251, 251, 251);
}

.price-shadow {
  margin-left: 30px;
}

.outside-circle {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: 1px solid #D3D3D3;
  position: absolute;
  top: -8%;
  right: 40%;
  background-color: rgb(251, 251, 251);
}

.inside-circle {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  border: 1px solid darkgray;
  position: absolute;
  top: 23%;
  right: 23%;
  background-color: darkgray;
  opacity: 0.7;
}

.plan-main {
  color: rgb(0, 153, 153);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}

.plan-details {
  text-align: center;
  width: 335px;
  padding-top: 25px;
}

.plan-row {
  height: 40px;
  margin-top: 140px;
  padding: 8px 5px;
  text-align: center;
}

.buy-delivery-row {
  background-color: rgb(224, 224, 224);
}

.plan-span-buy, .plan-span-service {
  font-weight: 500;
  font-size: 20px;
  color: rgb(157, 157, 157);
}

.service-row {
  background-color: rgb(238, 238, 238);
  height: 40px;
  margin-top: 0;
  width: 333px;
}

.warranty-row {
  background-color: rgb(224, 224, 224);
  height: 40px;
  margin-top: 0;
  width: 333px;
}

.advice-row {
  background-color: rgb(238, 238, 238);
  height: 40px;
  margin-top: 0;
  width: 333px;
}
.text {
  display: inline-block;
}

.price-circle-div {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  border: 1px solid #D3D3D3;
  position: absolute;
  top: 17%;
  right: 32%;
  background-color: rgb(251, 251, 251);
  text-align: center;
  padding: 20px 10px;
}

.price-info-main {
  font-size: 32px;
  color: darkgrey;
}

.price-info-decimal {
  position: relative;
  top: -0.9em;
  vertical-align: super;
  font-size: 12px;
  color: darkgrey;
}

.currency-info {
  font-size: 12px;
  color: rgb(189, 189, 189);
}

.join-me {
  background-color: rgb(0, 153, 153);
  text-transform: uppercase;
  padding: 10px 15px;
  width: 140px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 6%;
  position: absolute;
  bottom: 20px;
  left: 100px;
}

/*

hover

*/

.plan:hover {
  background-color: rgb(0, 153, 153);
  transition: 1s;
}

.plan:hover a {
  color: rgb(0, 153, 153);
  transition: 0.3s;
}

.plan:hover .price-info-main, .plan:hover .price-info-decimal, .plan:hover .currency-info {
  color: rgb(0, 153, 153);
  transition: 1s;
}

.plan:hover .plan-main {
  color: white;
  transition: 1s;
}

.plan:hover .join-me, .plan:hover .buy-delivery-row, .plan:hover .warranty-row {
  background-color: white;
  transition: 1s;
}

.plan:hover .inside-circle {
  background-color: white;
  border-color: white;
  opacity: 1;
  transition: 1s;
}

.plan:hover .outside-circle {
  background-color: rgb(0, 153, 153);
  border-color: rgb(0, 153, 153);
  transition: 1s;
}

/*

contact-section

*/

.contact-shadow {
  margin-left: 30px;
  margin-bottom: 50px;
}

.form-left, textarea {
  margin-left: 30px;
  display: block;
  width: 650px;
  padding: 10px;
  margin-top: 1.1em;
  border: 1px solid rgb(0, 153, 153);
  font-size: 20px;
}

textarea {
  resize: none;
  height: 10em;
}

.form-left::placeholder, textarea::placeholder {
  color: grey;
  opacity: 0.5;
}

.contact-chair {
  margin-top: 50px;
  margin-right: 65px;
  float: right;
}

.agreement-checkbox {
  float: left;
}

.red-chair-checkbox {
  margin-right: 15px;
  /*transform: scale(1.5);*/
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 1px solid rgb(0, 153, 153);
}

input[type=checkbox]:before {
  content: "";
  display: inline-block;
  height: 41px;
  width: 49px;
}

input[type=checkbox]:checked:before {
  background-image: url(../images/form_ok.jpg);
}

label {
  font-size: 18px;
  display: flex;
  margin: 15px 25px;
}

.agreement-span {
  opacity: 0.3;
}

.send {
  background-color: rgb(0, 153, 153);
  text-transform: uppercase;
  width: 335px;
  margin: 0 30px;
  height: 50px;
  font-size: 25px;
  padding: 10px 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 6%;
  float: right;
}

/*

footer-section

*/

.site-footer {
  margin-top: 50px;
}

.copyright-span {
  opacity: 0.5;
  font-size: 13px;
  margin: 13px 30px;
  display: inline-block;
}

.icons {
  margin-left: 235px;
}

.icon:hover {
  cursor: pointer;
}

.black-logo {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 16px;
  float: right;
  margin: 13px 35px;
  display: inline-block;
}

.footer-logo-inner {
  font-weight: 800;
}
