/*

layout

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  margin: 0;
}

.column {
  float: left;
}

.layout-2-col .column {
  width: 50%;
}

.container {
  margin: 0 auto;
  width: 1600px;
  border: 1px solid red;
}

.row::after,
.row::before,
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

/*

header

*/

.site-header {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.text-logo {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 0 15px 100px;
}

.site-logo {
  color: rgb(0, 255,208);
  font-weight: 800;
}

ul li {
  display: inline-block;
  padding: 0 30px;
  float: right;
  font-weight: 600;
  letter-spacing: 1px;
}

li:hover {
  cursor: pointer; /* do usunięcia po dodaniu linków do menu */
  color: rgb(0, 255,208);
}

li:first-child {
  padding-right: 100px;
}
