/*

layout

*/

.box, .white, .box-all-inputs, .container, .column, .arrow {
  border: 1px solid red;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  margin: 0;
}

.column {
  float: left;
}

.layout-2-col .column {
  width: 50%;
}

.layout-3-col .column {
  width: 33.33%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.row::after,
.row::before,
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

span {
  color: rgb(0, 153, 153);
  font-weight: 800;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

/*underlines*/
.shadow {
  margin-left: 15px;
  width: 14em;
  box-shadow: 0 10px 0 rgb(0, 153, 153);
}

/*

header

*/

.site-header {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.text-logo {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 0 15px 100px;
}

ul li {
  display: inline-block;
  padding: 0 30px;
  float: right;
  font-weight: 600;
  letter-spacing: 1px;
}

li:hover {
  cursor: pointer;
  color: rgb(0, 153, 153);
}

li:first-child {
  padding-right: 100px;
}

/*

hero-section

*/

.site-hero {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.arrow:hover {
  color: #555;
}

.arrow {
  position: absolute;
  font-size: 100px;
  font-weight: 300;
  cursor: pointer;
  height: 500px;
  padding-top: 160px;
}

.right-arrow {
  padding: 0 50px;
  float: right;
}

.big-chair {
  height: 500px;
  width: 650px;
  padding-left: 20px;
}

.title-span, .title-paragraph {
  display: inline-block;
  padding-top: 50px;
  padding-right: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.title-paragraph {
  color: #222;
  opacity: 0.7;
  line-height: 25px;
  text-align: center;
  padding: 0 100px;
}

.see-more-box {
  background-color: rgb(0, 153, 153);
  text-transform: uppercase;
  padding: 15px 15px;
  width: 200px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  border-radius: 6%;
}

/*

chair-section

*/

.chair-show {
  margin: 25px 33px;
  width: 329px;
  background-size: contain;
}

.box-1 {
  background-image: url("../images/box1_img.jpg");
}

.box-2 {
  background-image: url("../images/box2_img.jpg");
}

.white {
  background-color: rgba(255, 255, 255, 0.5);
  height: 65px;
  margin-top: 140px;
}

h2 {
  margin: 15px 5px;
}

.box-all-inputs {
  height: 250px;
  border: 1px solid #D3D3D3;
}

.input-section {
  padding: 5px 15px;
}
